@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oxygen:300,400&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --headfont: 'Fira Sans', sans-serif;
  --bodyfont: 'Oxygen', sans-serif;
  --thinfont: 'Oxygen Light';
  --white: #ffffff;
  --darkgray: #333333;
  --gray: #4D4D4D;
  --lightgray: #999999;
  --green: #C2E15F;
  --orange: #FDA333;
  --purple: #D3A4F9;
  --red: #FB4485;
  --blue: #6CE0F1;
  --salmon: #fa8a90;
  font-family: var(--bodyfont);
  color: var(--gray);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--headfont);
  color: var(--gray);
}

.nav-page{
  display:grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "nav head" "nav body";
}

.Nav{
  grid-area: nav;
  background-color: var(--salmon);
}
