@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oxygen:300,400&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --headfont: 'Fira Sans', sans-serif;
  --bodyfont: 'Oxygen', sans-serif;
  --thinfont: 'Oxygen Light';
  --white: #ffffff;
  --darkgray: #333333;
  --gray: #4D4D4D;
  --lightgray: #999999;
  --green: #C2E15F;
  --orange: #FDA333;
  --purple: #D3A4F9;
  --red: #FB4485;
  --blue: #6CE0F1;
  --salmon: #fa8a90;
  font-family: var(--bodyfont);
  color: var(--gray);
  background-color: rgb(249, 249, 252);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--headfont);
  color: var(--gray);
}

.nav-page{
  display:grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: "nav head" "nav body";
}

.nav-page header{
  margin: 15px 15px;
  padding: 0px 25px;
  border-bottom: 2px solid var(--darkgray);
}

/* Applied to the body part of the nav page */
.nav-page main{
  overflow-y: scroll;
  padding: 10px;
}

.Nav{
  grid-area: nav;
  background-color: var(--salmon);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Nav a{
  width: 100%;
  height: 100px;
  line-height: 100px !important;
  text-decoration: none;
  color: var(--white);
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
  transform-origin: left center;
  outline: 0;
}

.Nav a:last-child{
  margin-top: auto;
}

nav a:hover{
  transform: rotateY(-90deg);
  cursor: pointer;
}

nav a span, nav a i{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /*margin: -12.5px 0 12.5px 0;*/
  /*padding: 12.5px 0;*/
  line-height: inherit !important;
  text-align: center;
}

nav a i{
  background-color: inherit;
  font-size: 30px;
  transform-origin: inherit;
}

nav a span{
  transform: rotateY(90deg);
  bottom: 50px;
  background-color: var(--darkgray);
  transform-origin: left 0;
  right: -100%;
}

.react-grid-item{
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(53,64,82,.05);
  /* border: 3px solid var(--lightgray); */
  border-radius: 5px;
  /* padding: 10px; */
  box-sizing: border-box;
  background-color: var(--white);
}

.react-grid-item .card-content{
  padding: 20px;
}

.react-grid-item .card-buttons{
  padding: 10px;
  align-items: center;
  /* border-top: 1px solid var(--lightgray); */
}

.react-grid-item .card-buttons a{
  background-color: var(--salmon);
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 85%;
  color: var(--white);
  transition: opacity 150ms;
}

.react-grid-item .card-buttons a:hover{
  opacity: 100%
}

.react-grid-item h3{
  margin-bottom: 20px;
}

.react-grid-item .text{
  text-align: left;
}

.react-grid-item .kpi-indicator{
  display: inline-flex;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 16px;
  background-color: var(--green);
  color: var(--white);
  font-size: 85%;
}

.react-grid-item .kpi-indicator span {
  padding: 4px 10px;
}

/* ------ LIDARS PAGE ---- */

.react-grid-item .lidars-card-content {
    margin: 20px;
}
.lidars-card-text {
  padding: 4px 10px;
  height: 90px;
  width: 30%;
  float: left;
  background-color: aqua;
}

.lidars-card-map {
  padding: 4px 10px;
  height: 90px;
  width: 67%;
  float: left; 
  background-color: antiquewhite;  
}


.Login-container {
  height: 100%;
  width: 30%;
  float: left;
  display: grid; 
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: ". . ." ". center ." ". . .";
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Login{
  grid-area: center;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 50vw;
  max-width: 350px;
  box-shadow: 5px 5px 10px var(--darkgray);
  padding: 15px 10px;
  background-color: var(--white);
}

.Login h2{
  margin: -15px -10px 0px -10px;
  padding: 15px 0px;
  text-align: center;
  background-color: var(--salmon);
}

.Login div{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Login div a{
  color: var(--gray);
}

.login-btn{
  text-decoration: none;
  text-align: center;
  background-color: var(--salmon);
  padding: 5px 5px; 
  border-radius: 90px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 23px;
  margin-right: 10px;
  color: var(--white) !important;
}
