@import "Lidars.css";

.dash-content h3{
    padding: 10px 0px;
}

.dash-buttons{
    padding: 10px 0px;
    align-items: center;

}

.dash-buttons a{
    background-color: var(--salmon);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--white);
}

.kpi-indicator{
    display: inline-flex;
    float: right;
    /* top: 20px;
    right: 20px; */
    border-radius: 16px;
    background-color: var(--green);
    color: var(--white);
    font-size: 85;
}

.kpi-indicator span {
    padding: 4px 10px;
}