.lidars-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.lidars-card {
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: 5px 5px 10px var(--darkgray);
  border-radius: 10px;
}

.lidars-card-map {
  padding: 0px;
  margin: -10px -15px 10px -15px;
  height: 200px;
  float: left; 
  background-color: antiquewhite;  
  border-radius: 10px;
}

.lidars-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 10px;
}

.lidars-add{
  position: absolute;
  right: 25px;
  bottom: 20px;
}
