.settings-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

}
.settings-card {
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 5px 5px 10px var(--darkgray);
  border-radius: 10px;
}

.lidars-add{
  position: absolute;
  right: 25px;
  bottom: 20px;
}
