.Login-container {
  float: left;
  display: grid; 
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: ". . ." ". center ." ". . .";
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Login{
  grid-area: center;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 50vw;
  max-width: 350px;
  box-shadow: 5px 5px 10px var(--darkgray);
  padding: 15px 10px;
  background-color: var(--white);
  opacity: 0.85;
}

.Login:hover{
  opacity: 1;
}

.Login h2{
  margin: -15px -10px 0px -10px;
  padding: 15px 0px;
  text-align: center;
  background-color: var(--salmon);
}

.Login div{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Login div a{
  color: var(--gray);
}
