.Material-Inp-Group{
  position: relative;  
  display: block !important;
}

.Material-Inp-Group input{
  border: none;
  border-bottom: 1px solid var(--lightgray);
  background-color: transparent;
  font-size:14px;
  padding:10px 10px 10px 5px;
  width: calc(100% - 15px);
}

.Material-Inp-Group input:invalid{
  border-bottom: 1px solid var(--lightgray);
  box-shadow: none;
}

.Material-Inp-Group label{
  color: var(--gray); 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
.Material-Inp-Group input:focus ~ label, .Material-Inp-Group input:valid ~ label {
  top:-20px;
  font-size:14px;
  color: var(--salmon)
}
/* Keeps text high when not focused */
.Material-Inp-Group label.active {
  top: -20px;
  font-size:14px;
  color: var(--gray) !important;
}

.Material-Inp-Group .bar  { position:relative; display:block; width:100%; }
.Material-Inp-Group .bar:before, .Material-Inp-Group .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  background: var(--salmon);
  transition:0.2s ease all; 
}
.Material-Inp-Group .bar:before {
  left:50%;
}
.Material-Inp-Group .bar:after {
  right:50%; 
}

/* active state */
.Material-Inp-Group input:focus ~ .bar:before, .Material-Inp-Group input:focus ~ .bar:after {
  width:50%;
}

.Material-Inp-Group .highlight {
  position:absolute;
  height:60%;
  width:inherit;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}

.circle-btn{
  text-decoration: none;
  text-align: center;
  background-color: var(--salmon);
  padding: 5px 5px; 
  border-radius: 90px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  font-size: 23px;
  margin-right: 10px;
  color: var(--white) !important;
}

.circle-btn:hover{
  background-color: var(--salmon-light);
}

.elipticle-btn{
  text-decoration: none;
  text-align: center;
  background-color: var(--salmon);
  padding: 5px 5px; 
  border-radius: 90px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-size: 23px;
  margin-right: 10px;
  color: var(--white) !important;
}

.elipticle-btn:hover{
  background-color: var(--salmon-light);
}

.material-form *{
  margin-bottom: 20px;
}